body
{
    background: rgb(240, 236, 236);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 49%, rgba(255,255,255,1) 100%);
}
.myTable
{
    background-color: rgba(248, 130, 130, 0.05);
}
input,textarea{
    color: #000 !important;
}